<div ng-controller='BListController'>
	<p>Welcome, {{currentUser.name}}!</p>
	<form name='listVal'>
		<input required ng-minLength='5' type='text' ng-model='new_list.title' placeholder='Title'>
		<input required ng-minLength='10' type='text' ng-model='new_list.description' placeholder ='Description'>
		<select ng-model='new_list.tag'>
			<option ng-repeat='user in users' ng-if='user.name!==currentUser.name' value='{{user._id}}'>{{user.name}}</option>
		</select>
		<input type='submit' ng-disabled='listVal.$invalid' value='Add to List' ng-click='newList(new_list)'>
	</form>
	<strong>Before I die I want to:</strong>
	<p ng-repeat='item in bList.list'><input type='checkbox' ng-click='check(item)' ng-checked='item.checked % 2'>{{item.user}} | {{item.title}} - {{item.description}} - {{item.created | date}}</p>
	<strong>List of other users (Click to view profile):</strong>
	<li ng-repeat='user in users'><a  href="#/user/{{user._id}}">{{user.name}}</a></li>
</div>